body
{
padding: 0;
margin: 0;
background-color: #666;
color: #000;
}

#contents {
  margin: 10px 15% 10px 15%;
  padding: 10px 30px 10px 30px;
  background-color: #FFF;
  color: #000;
}

.code
{
color: #339;
background-color: transparent;
font-family: times, serif;
font-size: 0.9em;
padding-left: 40px;
}

ul li {
margin-top: 4px;
}
